.top
{

	background : rgb(131, 206, 250);
/*	padding-left:40%;
	padding-right: 40%;*/

	/*margin:0px;*/
	margin: 0 auto;
	text-align: center;

/*	width:100%;
	height:100%;*/
}
body
{
	background : #232323;
}
p
{
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px
	/*width:200px;
	margin: 0 auto;
	text-align: center;*/
}

.square
{

	background:rgb(255, 0, 0);
	width:30%;
	margin:1.66%;
	padding-bottom: 30%;
	float: left;



}

.selected
{
	/*background: rgb(131, 206, 250);*/
	font-size: 1.5em;

}
.container
{
	max-width: 750px;
}
#gamedecider,#playagain
{
	font-size: 1.5em;
	color:black;
	text-align: center;
	margin : 0 auto;
}
#container
{
	margin:0 auto;
	
	max-width:600px;

}
#rgbDisplay
{
	font-size: 1.5em;
}